<footer>
  <ul>
    <li>
      <h6>
        Copyright &copy; <%= new Date().getFullYear() %> - <%= config.author || config.title %> |
        Rendered by <a href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a> |
        <a href="<%- url_for(theme.rss || 'atom.xml') %>">Subscribe</a>
      </h6>
    </li>
  </ul>
</footer>
